<div class="gallery">
	<div class="gallery__title">
		<h4 class="top">A taste of what our 10,000+ writers are publishing</h4>
		<h4 class="bottom">You might not be the smartest person in this room, for a change.</h4>
	</div>
	<div class="gallery__wrapper">

		<div class="gallery__item">
			<a href="https://hackernoon.com/became-an-idea-generator-with-scamper-method-pncc3ysi">
				<div class="gallery__item-content">
					<img src="https://via.placeholder.com/900x480" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">Become an Idea Generator via the S.C.A.M.P.E.R. Method</p>
						<p class="author">@carlo</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/the-growth-of-vertical-saas-challenges-market-leaders-aids-startups-r4q32hz">
				<div class="gallery__item-content">
					<img src="https://via.placeholder.com/2100x960" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">Growth of Vertical SaaS Challenges Market Leaders, Benefits Startups</p>
						<p class="author">@techlooter</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/how-firstbaseio-helps-technology-companies-scale-1o9832eu">
				<div class="gallery__item-content">
					<img src="https://via.placeholder.com/900x480" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">How Setting up a Company in the US Helps Startups Scale</p>
						<p class="author">@DmitryKardis</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/5-reasons-why-your-business-needs-vr-today-z31642ul">
				<div class="gallery__item-content">
					<img src="https://via.placeholder.com/900x480" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">5 Reasons Why Your Business Needs VR Today</p>
						<p class="author">@anna_s</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/need-a-startup-idea-start-with-a-problem-2bd74f2e108c">
				<div class="gallery__item-content">
					<img src="https://via.placeholder.com/700x480" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">Need a startup idea? Start with a problem.</p>
						<p class="author">@iamnoahwheeler</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/have-you-ever-been-told-thats-not-a-good-idea-fpdb38o8">
				<div class="gallery__item-content">
					<img src="https://via.placeholder.com/900x480" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">Have You Ever Been Told Your Business Idea Sucks?</p>
						<p class="author">@patrickleet</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/the-thought-process-behind-startup-ideas-862c01d07f30">
				<div class="gallery__item-content">
					<img src="https://via.placeholder.com/640x360" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">The Thought Process Behind Startup Ideas	</p>
						<p class="author">@quoraanswers</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/10-000-new-business-ideas-using-heuristics-jd5e326s">
				<div class="gallery__item-content">
					<img src="https://via.placeholder.com/640x560" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">10,000+ Personalized Business Ideas Using Heuristics</p>
						<p class="author">@smepals</p>
					</div>
				</div>
			</a>
		</div>

		<div class="gallery__item">
			<a href="https://hackernoon.com/the-mvp-is-dead-long-live-the-rat-233d5d16ab02">
				<div class="gallery__item-content">
					<img src="https://via.placeholder.com/640x360" alt="" loading="lazy">
					<div class="gallery__item-text">
						<p class="caption">The MVP is dead. Long live the RAT.</p>
						<p class="author">@rikhigham</p>
					</div>
				</div>
			</a>
		</div>



	</div>
</div>