<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" sizes="192x192" href="img/icons/192x192.png">
<link rel="shortcut icon" href="img/icons/192x192.png" type="image/png" />
<link rel="apple-touch-icon" href="img/icons/192x192.png" type="image/png" />
<link rel="stylesheet" href="css/style.min.css">
<title>Haker noon -- Publish -- Startups</title>
<meta name="description" content="Hacker Noon publishes curious and insightful technologists without pop up ads, paywalls, or a lengthy review process.">
<link rel="canonical" href="https://www.publish.hackernoon.com" />
<meta property="og:title" content="About Hacker Noon" />
<meta property="og:description" content="Hacker Noon publishes curious and insightful technologists without pop up ads, paywalls, or a lengthy review process.">
<meta property="og:image" content="img/og-image.png" />
<meta property="og:image:width" content="2500" />
<meta property="og:image:height" content="1305" />
<meta property="og:url" content="https://www.publish.hackernoon.com" />
<meta property="og:site_name" content="Hacker Noon" />
<meta property="og:type" content="website" />
<!-- <meta name="google-site-verification" content="sBnXJOS0j7CsueCTx38k2hrlP_GumnypUG063AeZUpA">
<script src="blob:https://www.publish.hackernoon.com/00010b00-106f-4919-bcde-d2db9aefd919"></script> -->